
<h1>Interact!</h1>
<form action="/interact" method="post">
  <div class="container">
    <div class="row">
      <button type="submit" class="btn btn-primary" name= "select" value="feed">Feed</button>

      <button type="submit" class="btn btn-primary" name= "select" value="sleep">Sleep</button>

      <button type="submit" class="btn btn-primary" name= "select" value="play">Play</button>
    </div>
  </div>
</form>
